{% extends 'base.html' %}
{% block content %}
<div class="container">
        <h2>
                This is the about page?:(
        </h2>
        <p>
                This page still has a lot of work to be put in,
                besides that I want to mention that
                I couldn't have done it without hours of tutorials
                and the brilliant django community.
                This speech is a bit too long I guess...
                Do not judge me hard as have spent about 16h
                on this project today, re-attempted it twice,
                and this wasn't even the first project
                that I have tried for the assignment.
        </p>
</div>
{% endblock content %}
